body{
    background: #000;
    color: #eee;
}

button{
   padding: 10px;
   margin: 10px;
   border-radius: 15px;
   cursor: pointer;
}
 /* sahuashuas */
.clock{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.verde {
    background: #00ff00;
    cursor : pointer;
}
.amarelo{
    background: #ffff1a;
    cursor : pointer;
}
.vermelho{
background: #ff1a1a;
cursor : pointer;
}